[Unit]
Description=haxophone
After=network.target
StartLimitIntervalSec=0

[Service]
Type=idle
Restart=always
RestartSec=1
User=root
Group=audio
WorkingDir=/usr/share/haxo
Environment=RUST_LOG=info
ExecStartPre=/usr/local/bin/create_midi_gadget.sh
ExecStart=/usr/local/bin/haxo001 \
          --notemap-file /usr/share/haxo/notemap.json \
          --prog-number 66 \
          --sf2-file /usr/share/sounds/sf2/TimGM6mb.sf2

[Install]
WantedBy=multi-user.target
